# Ignorar arquivos e pastas gerados pelo Visual Studio 2022
.vs2022/
.vscode/
/bin/
/obj/
*.user
*.suo
*.sln.docstates

# Ignorar arquivos de dependência NuGet
/packages/
*.nupkg

# Ignorar arquivos de compilação
*.dll
*.exe
*.pdb
*.dll.config
*.exe.config

# Ignorar arquivos de logs e erros
*.log
*.log.*
*.errors

# Ignorar arquivos de configuração de usuário
*.suo
*.user
*.userosscache

# Ignorar arquivos de histórico de teste
TestResults/

# Ignorar arquivos de configuração do Windows
Thumbs.db
Desktop.ini

# Ignorar arquivos de configuração do editor Visual Studio Code
.vscode/

# Ignorar arquivos de configuração do Rider (IDE da JetBrains)
.idea/

# Ignorar arquivos de configuração do Visual Studio
.vs/

# Ignorar arquivos de configuração do Visual Studio for Mac
.vscode/
.idea/
__MACOSX/
